html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Rainbow';
  src: url(./fonts/Rainbow-Party-2.woff2) format('woff2');
}

@property --c1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #4634ee;
}
@property --c2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #ff00ff;
}

h6 {
  display: block;
  text-align: center;
  font-size: 3vw;
  font-family: 'Rainbow';
