<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- 只有安装了 URL Rewrite 模块才启用此规则 -->
    <!-- <rewrite>
      <rules>
        <rule name="SPA Fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/mso/index.html" />
        </rule>
      </rules>
    </rewrite> -->
    <staticContent>
      <remove fileExtension=".js" />
      <remove fileExtension=".mjs" />
      <remove fileExtension=".css" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
